@font-face {
    font-family: 'JoystixMonospace-Regular';
    src: url('font/joystixmonospace.ttf');
}
#gameover {
    -fx-font-family: 'JoystixMonospace-Regular';
}
#coast {
    -fx-background-image: url("scenes/coast.png");
    -fx-background-size: stretch;
}
#hub {
    -fx-background-image: url("Scenes/hub.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#dirtyhills {
    -fx-background-image: url("Scenes/dirtyhills.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#cleanhills {
    -fx-background-image: url("Scenes/cleanhills.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#solarcity {
    -fx-background-image: url("Scenes/solarcity.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#windytown {
    -fx-background-image: url("Scenes/windytown.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#neworleans{
    -fx-background-image: url("Scenes/neworleans.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#map {
    -fx-background-image: url("icons/Map16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#mapUnfold {
    -fx-background-image: url("scenes/mapunfold.png");
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
#helpUnfold {
    -fx-background-color: #DCDCDC;
    -fx-background-size: 1200 900;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width:5;
    -fx-border-color: #DCDCDC;
    -fx-font-family: 'JoystixMonospace-Regular';
}
#backpack {
    -fx-background-image: url("icons/Backpack16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#inventoryBackground{
    -fx-background-color: #DBDBDB;
}
#inventorySlot{
    -fx-background-color: A4A4A4;
}
#shopBackground{
    -fx-background-color: #DBDBDB;
}
#shopSlot{
    -fx-background-color: A4A4A4;
}
#inventoryCloseButton{
    -fx-background-color: #D30000;
    -fx-background-size: stretch;
    -fx-font-color: white;
}

#magglass {
    -fx-background-image: url("icons/MagGlass16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#hand {
    -fx-background-image: url("icons/Hand16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#speechbubble {
    -fx-background-image: url("icons/SpeechBubble16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#player {
    -fx-background-image: url("icons/MC16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#dollar {
    -fx-background-image: url("icons/DollarSign16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#menu {
    -fx-background-image: url("icons/Menu16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}

#questionmark {
    -fx-background-image: url("icons/QuestionMark16x16.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#skipper_npc {
    -fx-background-image: url("npc/skipper_npc.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#coal_npc {
    -fx-background-image: url("npc/coal_npc.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#boss_npc {
    -fx-background-image: url("npc/boss_npc.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#npc1 {
    -fx-background-image: url("npc/npc1.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#npc2 {
    -fx-background-image: url("npc/npc2.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#npc4 {
    -fx-background-image: url("npc/npc4.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}
#npc5 {
    -fx-background-image: url("npc/npc5.png");
    -fx-background-size: stretch;
    -fx-background-color: none;
    -fx-border-color: transparent;
}


#textbubble {
    -fx-background-color: white;
    -fx-background-size: 1200 900;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width:5;
    -fx-border-color: white;
    -fx-opacity: 0%;
    -fx-font-family: 'JoystixMonospace-Regular';
    -fx-font-size: 8px;
    -fx-pref-width: 200;
}

#textbubble2 {
    -fx-background-color: white;
    -fx-background-size: 1200 900;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width:5;
    -fx-border-color: white;
    -fx-font-family: 'JoystixMonospace-Regular';
    -fx-opacity: 0%;
    -fx-pref-width: 200;
}
#balance {
    -fx-font-family: 'JoystixMonospace-Regular';
    -fx-font-size: 30px;
    -fx-text-fill: #009900;
}

#continuebtn, exitbtn {
    -fx-font-family: 'JoystixMonospace-Regular';
    -fx-font-size: 9px;
}

